body{
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-family: Jua; 
}
h1.red{
	color:#ff0000;
}
h1.orange{
color: #ff7b00
}
h1.yellow{
color: #fff700;
}
h1.green{
color: #44ff00;
}
h1.blue{
color: #0059ff;
}
h1.purple{
color: #b300ff;
}
h1.pink{
color: #ff00b7;
}