body{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
<<<<<<< HEAD
	font-family: Jua; 
	background-image: url(HomepageImages/Cake.png);
	width: 300px;
	height: 300px;

=======
	font-family: Jua;
>>>>>>> f29ec3bf30eed42e873d268b35d0eade84858a24
}
.red{
	color:#ff0000;
}
.orange{
color: #ff7b00
}
.yellow{
color: #fff700;
}
.green{
color: #44ff00;
}
.blue{
color: #0059ff;
}
.purple{
color: #b300ff;
}
.pink{
color: #ff00b7;
}
div.white{
	background-color: #FFFAF0
 
}
