.HomepageColumn1{
	float: left;
  background: #ccc;
  padding: 5px 10px;
  margin-right: 10px;
}
.HomepageColumn2{
float: center;
  background: #ccc;
  padding: 5px 10px;
  margin-right: 10px;
}
.HomepageColumn3{
  float: right;
  background: #ccc;
  padding: 5px 10px;
  margin-right: 10px;
}